# ignore semua default
*

# allow core Laravel + vendor
!artisan
!composer.json
!composer.lock
!bootstrap/
!config/
!database/
!lang/
!public/
!resources/
!routes/
!vendor/

# allow seluruh app termasuk Projects, Groups, Tenants
!app/

# allow repositories folder
!repositories/

!entrypoint.sh

# optional env
!.env.production
