# ignore semua default
*

# allow core Laravel + vendor
!artisan
!composer.json
!composer.lock
!bootstrap/
!config/
!database/
!lang/
!public/
!resources/
!routes/
!vendor/
!stubs/

# allow seluruh app termasuk Projects, Groups, Tenants
!app/

# allow repositories, projects, groups, tenants folder
!repositories/
!projects/
!groups/
!tenants/

!entrypoint.sh

# optional env
!.env.production
